
.container {
    position: relative;
}

#startScreen {
    height: 600px;
    width: 1200px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 50%;
    margin-left: -600px;
}

#startScreen {
    height: 300px;
    width: 600px;
    background-color: gray;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: -50%;
    margin-top: 150px;
    
}

canvas {
    background: url('./space.jpg') no-repeat center;
    background-size: cover;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    cursor: crosshair;
}

#planet, #asteroid {
    display: none;
}


